body {
  background: lightblue;
  color: white;
  text-align: center;
}

.breed-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breed {
  color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid darkblue;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
}

.variety-list-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 20px;
  color: white;
}
